@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.color-primery {
  color: #ff5400;
}
.container {
  margin: 0 100px;
}
/* -- -------------------------------start header area------------------------------- -- */

/* -- -------------------------------start menu section------------------------------- -- */
.menu-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo h1 {
  padding-left: 10px;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.menubar {
  width: 50%;
}
.menubar ul {
  display: flex;
  justify-content: space-evenly;
}
.menubar ul li a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.menubar ul li a:hover {
  color: #ff5400;
}

.menubar img {
  display: none;
}
/* -- -------------------------------end menu section------------------------------- -- */
/* -- -------------------------------start display section------------------------------- -- */
.disply-section {
  background-image: url("../images/disply.bg.shadw.png"),
    url("../images/disply.bg.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 16px;
  padding: 70px 0;
}
.disply-section h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.disply-section p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.option-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  width: 800px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.option-bar input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
}
.option-bar select {
  border-radius: 8px;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.option-bar button {
  border-radius: 8px;
  background: #ff5400;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 174px;
  height: 52px;
  padding: 16px;
}
.option-bar button img {
  padding-right: 8px;
}
/* -- -------------------------------end disply section------------------------------- -- */
/* -- -------------------------------end header area------------------------------- -- */

/* -- -------------------------------start main area------------------------------- -- */
/* -- -------------------------------start our popular tours section------------------------------- -- */
.our-populer-tours {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.article p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  margin: 24px 0;
}
.article ul li {
  list-style: outside;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
}
.article button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 35px;
  border: none;
}
/* -- -------------------------------end our popular tours section------------------------------- -- */
/* -- -------------------------------start choose your destination section------------------------------- -- */
/* .choose-your-destination {
  text-align: center;
}
.choose-your-destination h1 {
  text-transform: capitalize;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.choose-your-destination p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  margin: 24px 0;
} */
/* -- -------------------------------end choose your destination section------------------------------- -- */
/* -- -------------------------------start why choose us section------------------------------- -- */
.why-choose-us {
  margin-top: 100px;
  margin-bottom: 100px;
}
.why-choose-us-header {
  text-align: center;
}
.why-choose-us-header h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.why-choose-us-header p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  margin: 20px 0;
}
.content-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.content-area :hover {
  background: rgba(41, 206, 246, 0.05);
}
.content {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
  width: 560px;
}
.content h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 8px;
}
.content p {
  color: #5a5a5d;
  font-size: 12px;
}
.content img {
  width: 64px;
}
/* -- -------------------------------end why choose us section------------------------------- -- */
/* -- -------------------------------start deals & discounts section------------------------------- -- */

.deals-and-discounts-header {
  text-align: center;
}
.deals-and-discounts-header h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.deals-and-discounts-header p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.deals-and-discounts-content {
  border-radius: 16px;
  padding: 50px;
  margin-bottom: 20px;
}
.maldives {
  background-image: url("../images/Maldives.bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
}
.indonesia {
  background-image: url("../images/Indonesia.bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
}
.thiland {
  background-image: url("../images/Maldives.bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
}
.card {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
  width: 550px;
}
.card ul {
  display: flex;
  gap: 20px;
}
.card ul li {
  color: #5a5a5d;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.card ul li img {
  width: 16px;
}
.card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.card p {
  color: #5a5a5d;
  font-size: 16px;
  margin: 16px 0;
}
.card h4 {
  font-size: 20px;
}
.card button {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 25px;
  margin-top: 20px;
}
.see-all-packages {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.see-all-packages button {
  border: none;
  background-color: #ff5400;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 20px;
}
/* -- -------------------------------end deals & discounts section------------------------------- -- */

/* -- -------------------------------start simple place section------------------------------- -- */
.simple-place {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.simple-place-article h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.simple-place-article p {
  color: #5a5a5d;
  font-size: 16px;
  margin: 24px 0;
}
.simple-place-article ul li {
  list-style: outside;
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
.simple-place-article button {
  border: none;
  border-radius: 8px;
  background-color: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 40px;
  margin-top: 16px;
}
.simple-place-images {
  background-image: url(../images/disply.bg.shadw.png),
    url(../images/wachbd.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 16px;
}
.simple-place-images h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
/* -- -------------------------------end simple place section------------------------------- -- */
/* -- -------------------------------start contact section------------------------------- -- */
.contact {
  display: flex;
  justify-content: space-between;
}
.newsletter {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 450px;
}
.newsletter h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.newsletter p {
  color: #5a5a5d;
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
}
.newsletter form {
  display: flex;
  flex-direction: column;
}
.newsletter form input {
  margin: 16px 0;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px 20px;
}
.newsletter form button {
  border: none;
  border-radius: 8px;
  padding: 15px;
  background-color: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.discounts {
  background-image: url(../images/discounts.png);
  width: 660px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;

  position: relative;
}
.discounts-card {
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  right: 5px;
  bottom: 50px;
  transform: rotate(-19.628deg);
}
.discounts-card h4 {
  color: #fff;
  font-size: 24px;
}
.discounts-card h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
.footer-area {
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  margin-top: 100px;
  padding: 100px 0;
}
.footer-area p {
  margin: 30px 0;
}

.footer-head {
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}
.footer-head h1 img {
  width: 40px;
}

/* -- -------------------------------end contact section------------------------------- -- */

/* -- -------------------------------end main area------------------------------- -- */

/* ---------------------------------------------------------------------
-------------------------------responsive area-----------------------
--------------------------------------------------------------------- */
@media screen and (max-width: 576px) {
  .container {
    margin: 0 20px;
  }
  .menu-section {
    margin: 20px 0;
  }
  .logo img {
    width: 28.724px;
  }
  .logo h1 {
    font-size: 21.543px;
    padding-left: 5px;
  }
  .menubar {
    display: flex;
    width: 24px;
  }
  .menubar ul {
    display: none;
  }
  .menubar img {
    display: block;
  }
  .disply-section {
    padding: 30px 0;
  }
  .disply-section h1 {
    font-size: 22px;
  }
  .disply-section p {
    font-size: 12px;
    width: 263px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 30px;
  }
  .option-bar {
    display: flex;
    flex-direction: column;
    width: 487px;
    padding: 16px;
  }

  .option-bar input {
    width: 451px;
  }
  .option-bar select {
    width: 451px;
  }
  .option-bar button {
    width: 451px;
    display: flex;
    justify-content: center;
  }
  .our-populer-tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .article h1 {
    font-size: 20px;
  }
  .article p {
    font-size: 14px;
    margin: 16px 0;
  }
  .article ul li {
    font-size: 14px;
  }
  .article button {
    margin-bottom: 24px;
  }
  .why-choose-us {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .why-choose-us-header h1 {
    font-size: 20px;
  }
  .why-choose-us-header p {
    font-size: 14px;
  }
  .content h3 {
    font-size: 20px;
    margin: 16px 0;
  }
  .content p {
    font-size: 14px;
  }
  .content img {
    width: 48px;
  }
  .deals-and-discounts-content {
    padding: 15px;
  }
  .deals-and-discounts-header h1 {
    font-size: 20px;
  }
  .deals-and-discounts-header p {
    font-size: 14px;
  }
  .card {
    margin-top: 100px;
    padding: 20px;
  }
  .card ul {
    display: flex;
    flex-wrap: wrap;
  }
  .card h3 {
    font-size: 18px;
    margin-top: 15px;
  }
  .card p {
    font-size: 12px;
  }
  .card h4 {
    font-size: 15px;
  }
  .card button {
    font-size: 15px;
    padding: 10px 20px;
  }
  .see-all-packages {
    display: none;
  }
  .simple-place {
    display: flex;
    flex-direction: column;
  }
  .simple-place-article h1 {
    font-size: 20px;
  }
  .simple-place-article p {
    font-size: 14px;
  }
  .simple-place ul li {
    font-size: 14px;
  }
  .simple-place-images {
    margin-top: 24px;
    width: 100%;
    height: 200px;
  }
  .simple-place-images h1 {
    font-size: 20px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .newsletter {
    width: 100%;
    margin-top: 16px;
  }
  .discounts {
    width: 100%;
    height: 300px;
    margin-top: 16px;
  }
  .discounts-card h4 {
    font-size: 15.854px;
  }
  .discounts-card h3 {
    font-size: 21.138px;
  }
}
